/* #region Common Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

button {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
/* #endregion Common Rules */

/* #region Utilities */
:root {
    --dark: #000000;
    --primary: #141922;
    --secondary: #282828;
    --light_dark: #73757A;
    --mark: #ADFF2F;
    --light: #FFFFFF;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.position_relative {
    position: relative;
}

.space_between {
    justify-content: space-between;
}

.d_flex {
    display: flex;
}

.vh-100 {
    height: calc(100vh - 100px);
}
/* #endregion Utilities */

/* #region flex grid */
.container {
    width: 80%;
    margin: 0 auto;
}

.container_fluid{
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
/* #endregion flex grid */

/* #region button */
.btn_upgrade {
    text-align: center;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    border: 1px solid var(--light);
    margin: 1rem;
    color: var(--light);
    font-size: 0.7rem;
}

.btn_upgrade:hover {
    transform: scale(1.07,1.07);
}
/* #endregion button */


/******************
     Style page  
*******************/

/* Main */
#main {
    height: 100%;
}

/* navbar */
nav {
    width: 230px;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

nav h3 {
    text-transform: uppercase;
    color: var(--light);
    padding-top: 1rem;
    font-size: 0.8rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 75%;
    fill: var(--light);
    padding-bottom: 0.8rem;
}

.menu a {
    font-size: 0.8rem;
}

.navigate > a img {
    width: 20%;
    padding-right: 0.5rem;
    filter: invert(50%);
}

.navigate a {
    display: flex;
    align-items: center;
    color: var(--light_dark);
    padding: 0.4rem 0;
}

.navigate a:first-child {
    border-left: 0.1rem solid var(--mark);
    padding-left: 0.9rem;
    margin-left: -1rem;
}


.navigate a:first-child, .navigate > a:first-child img{
    filter: invert(0);
    color: var(--light);
}

.navigate a:hover {
    color: var(--light);
}

.navigate > a:hover img {
    filter: invert(0);
}

.playlist_user {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: calc(60vh - 100px);
}

.playlist_user::-webkit-scrollbar { 
    display: none;
}

.new_playlist {
    padding: 0.7rem 0;
    color: var(--light_dark);
    font-size: 0.9rem;
}

.new_playlist i {
    padding: 0.5rem 0.4rem;
    color: var(--dark);
    background-color: var(--light_dark);
    font-size: 1rem;  
    font-weight: 700;
    margin-right: 0.4rem;
}

.new_playlist:hover {
    color: var(--light);
}

.new_playlist:hover i {
    background-color: var(--light);
}

.playlist {
    color: var(--light_dark);
    padding: 0.7rem 0;
}

.playlist:hover {
    color: var(--light);
}

.profile img {
    width: 12%;
    background-color: var(--light_dark);
    clip-path: circle(47%);
    margin-right: 0.5rem;
}

.profile hr {
    margin: 0.7rem 0;
    color: var(--light_dark);
}

.profile span {
    font-size: 0.8rem;
}

.profile i {
    border: 1px solid var(--light);
    border-radius: 50%;
    padding: 0.2rem 0.3rem;
    margin-right: 0.5rem;
    height: 1.3rem;
    width: 1.3rem;
}

.user_profile {
    display: flex;
    align-items: center;
}
/* main contents */
main {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
}

main::-webkit-scrollbar { 
    display: none;
}

/* claim_upgrade */
.claim_upgrade {
    background-color: rgba(0, 0, 0, 0.569);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: row-reverse;
}

.card {
    text-align: center;
    color: var(--light);
    padding: 0.6rem;
}

.img_album {
    position: relative;
    margin-bottom: 0.6rem;
}

.hover_play {
    display: none;
    background-color: #0000008d;
    color: var(--light);
    text-align: center;
    position: absolute;
    z-index: 99;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 98.3%;
}

.play_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 3rem;
}

.card:hover .hover_play {
    display: block;
}

.circle {
    clip-path: circle(46%);
}


main h2 {
    color: var(--light);
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
} 

main h3 {
    color: var(--light);
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
    line-height: 0.9rem;
} 

main h4 {
    color: var(--light_dark);
    font-size: 0.75rem;
}

main p {
    color: var(--light_dark);
    font-size: 0.7rem;
}

main .row {
    margin: 0 -0.7rem;
}

.top_artists, .make_for_user, .recently_played, .choiches {
    padding: 0 1rem 1.2rem 1rem;
}


/* choices */
.choiches {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.choiches a, .active_choice {
    padding: 0.6rem 0;
    margin: 0 0.6rem;
    color: var(--light_dark);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.choiches a:first-child {
    padding: 0.5rem 0 0.1rem 0;
    color: var(--light);
}

.choiches hr {
    margin: 0 auto 0.4rem auto;
    width: 40%;
    border-color: var(--mark);
}

.choiches a:hover{
    color: var(--light);
}

.top_artists img {
    clip-path: circle(46%);
}

/* player bottom */
#player {
    background-color: var(--secondary);
    height: 100px;
    color: var(--light);
    z-index: 999;
}

#player .container_fluid {
    height: 100%;
    padding: 1rem;
}

#player .row {
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.listening_to .song {
    display: flex;
    align-items: center;
}

.listening_to img {
    width: 12%;
    margin-right: 0.6rem;
}

.song_details h3 {
    font-size: 0.8rem;
    color: var(--light);
    margin-bottom: -0.3rem;
}

.song_details a {
    font-size: 0.7rem;
    color: var(--light_dark);
}

.song_details a:hover {
    text-decoration: underline;
}

.top_controls {
    text-align: center;
}

.top_controls i, .sound_controls i  {
    padding: 0 0.6rem;
    font-size: 1rem;
}

.bottom_controls {
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
}

.bottom_controls span {
    color: var(--light_dark);
    font-size: 0.85rem;
}

.time {
    width: 500px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.hover_circle {
    background-color: var(--light);
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: none;
}

.time:hover .current, .volume:hover .current {
    background-color: var(--mark);
}

.time:hover .hover_circle, .volume:hover .hover_circle {
    display: inline-block;
}

.current {
    height: 4px;
    background-color: var(--light);
    width: 40%;
    border-radius: 2px;
    position: relative;
}

.remaining {
    height: 4px;
    background-color: var(--light_dark);
    width: 60%;
    border-radius: 2px;
}

.save {
    padding-left: 2rem;
    color: var(--light_dark);
}

.save i {
    padding: 0 0.2rem;
}

.sound_controls {
    display: flex;
    justify-content: end;
    align-items: center;
}

.sound_controls i  {
    padding: 0 0.2rem;
    font-size: 0.8rem;
    color: var(--light_dark);
}

.volume {
    display: flex;
    justify-content: center;
    width: 100px;
    margin-left: 1rem;
}

/********************
    End style page 
*********************/

/* #region media screen */
/* Spotify MD */
@media screen and (max-width: 878px) {

}

/* Spotify S */
@media screen and (max-width: 639px) {

}

/* Spotify XS */
@media screen and (max-width: 552px) {
    nav {
        width: 50px;
    }
}
/* #endregion media screen */

/* #region debug */
.debug {

}
.debug #main {
    height: 100%;
}

.debug main {
    height: 100%;
 }

.debug nav {
    height: 100%;
 }
/* #endregion debug */